name: Licenses

on:
  workflow_call:

permissions:
  contents: read

jobs:
  licenses:
    name: License Files Check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Validate required license docs
        run: |
          test -f LICENSE
          test -f README.md
